<%= form_for([:admin, @object], :remote => true) do |f| %>
<div class='container'>
  <div class='span-8'>
  <div class="field">
    <%= f.label '客户名称' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '联系电话' %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label '备注' %><br />
    <%= f.text_field :remark %>
  </div>
<fieldset><legend>账户信息</legend>
  <div class="field">
    <%= f.label '账户余额' %>:
    <%= @object.balance %>
  </div>
  <div class="field">
    <%= f.label '上次登录' %>:
    <%= @object.last_login %>
  </div>

   <div class="field">
    <%= f.label '结算日期' %>:
    <%= @object.balance_date %>
  </div>
   <div class="field">
    <%= f.label '上次支付' %>:
    <%= @object.last_pay_date %>
  </div>
</fieldset>
  <%= link_to '{新增登录}', admin_client_path(@object)+ '/add_user' if @object.id  %>

<fieldset><legend>登录账户</legend>
  <% @object.user_infos.each do |ui| %>
  <%= link_to ui.user.login_name, edit_admin_user_info_path(ui), :remote => true  if ui.user %>
  <% end %>
</fieldset>
  </div>

  <div class='span-8 last'>
    <% if params[:id] %>
	<fieldset><legend>已绑定渠道</legend>
    <% Channel.find_all_by_client_id(params[:id]).each do |ch|%>
    <div>
    <input type="checkbox" name="rm_channels[<%= ch.id %>]" id="<%= dom_id ch %>" />
    <label for="<%= dom_id ch %>"><%= ch.channel_number %></label>
  </div>
    <% end %>
	</fieldset>
	<fieldset><legend>空闲渠道</legend>
    <% Channel.where('client_id is null or client_id=0').each do |ch| %>
    <div>
    <input type="checkbox" name="add_channels[<%= ch.id %>]" id="<%= dom_id ch%>" />
    <label for="<%= dom_id ch %>"><%= ch.channel_number %></label>
    </div>
    <% end %>
	</fieldset>
    <% end %>   
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
