  <tr id='row_<%= obj.id %>'>
  	<td><%= obj.id %></td>
    <td><%= obj.name %></td>
    <td><%= obj.tel %></td>
    <td><%= obj.remark %></td>
    <td><%= obj.balance %></td>
    <td><%= obj.last_login %></td>
    <td><%= obj.balance_date %></td>
    <th><%= obj.last_pay_date %><td>
    <td><%= obj.updated_at %></td>
    <td><%= link_to '编辑', edit_admin_client_path(obj), :remote => true %></td>
    <td><%= link_to '删除', admin_client_path(obj), :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>