  <tr id='<%= dom_id obj %>'>
  	<td><%= obj.id %></td>
    <td><%= obj.name %></td>
    <td><%= obj.tel %></td>
    <td><%= obj.remark %></td>
    <td><%= obj.balance %></td>
    <td><%= l obj.last_login, :format => :long if obj.last_login %></td>
    <td><%= l obj.balance_date, :format => :short if obj.balance_date %></td>
    <td><%= l obj.last_pay_date, :format => :short if obj.last_pay_date %><td>
    <td><%= l obj.updated_at, :format => :long %></td>
    <td><%= link_to '编辑', edit_admin_client_path(obj), :remote => true %></td>
    <td><%= link_to '删除', admin_client_path(obj), :confirm => '确定要删除?', :method => :delete, :remote => true %></td>
  </tr>