<h2>客户列表</h2>
<div class='toolbar'>
  <ul class='actions'>
    <li>

  <%= form_for [:admin, @search] do |f| %>
  姓名: <%= f.text_field :name_contains %>
  <%= f.submit '查找' %>
  <% end %>

    </li>
    <li><%= link_to_with_icon 'add', '新建客户', new_admin_user_path, :remote => true %>
</li>
</ul>
</div>
<%= will_paginate(@collection) %>
<table class='data-list'>
  <thead>
  <tr>
    <th>客户编号</th>
    <th>姓名</th>
    <th>电话</th>
    <th>备注</th>
    <th>结算数据</th>
    <th>最后登陆</th>
    <th>数据结算日期</th>
    <th>最后付款日期</th>
    <th>修改时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @collection.each do |client| %>
   <%= render :partial =>'row', :locals => {:obj => client} %>
  <% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />



