<h2>数据维护工具</h2>

<ul>
	<li><%= link_to "填补旧数据中的product_id", 'data_tools/balances_product_id' %></li>
	<li><%= link_to "填补旧数据中的对账数量", 'data_tools/balances_dz_count' %></li>
  <li><%= link_to "填补旧数据中的对账总价", 'data_tools/balances_product_price' %></li>

  
</ul>

<% if @balances_by_month %>
<table>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>

	<%= @balances_by_month.each do |b| %>
	<td></td>
	<% end %>
</table>

<table class='data-list'>
  <thead>
  <tr>
    <th>日期</th>
    <th>产品名称</th>
    <th>结算数量</th>
  </tr>
</thead>
<tbody>
  <% @balances_by_month.each do |b| %>
   <tr>
    <td><%= b.ba_date %></td>
    <td><%= b.pro %></td>
    <td><%= b.count %></td>
  </tr>

  <% end %>
</tbody>
</table>
<% end %>
