<%= form_for([:admin, @object], :remote => true) do |f| %>
  <div class="field">
    <%= f.label '公司名称' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '公司说明' %><br />
    <%= f.text_field :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
