  <tr id='<%= dom_id obj %>'>
    <td><%= obj.title %></td>
    <td><%= obj.description %></td>
    <td><%= obj.status %></td>
    <td><%= obj.updated_at %></td>
    <td><%= link_to '编辑', edit_admin_company_path(obj), :remote => true %> |
     <%= link_to '删除', admin_company_path(obj), :confirm => '确定删除?', :method => :delete, :remote => true %></td>
  </tr>