<h2><%= t(:companies) %></h2>

<table class='data-list'>
  <thead>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t(:description) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:updated_at) %></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @collection.each do |company| %>
   <%= render :partial =>'row', :locals => {:obj => company} %>
  <% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to '新建公司', new_admin_company_path, :remote => true %>


