<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Balance:</b>
  <%= @company.balance %>
</p>

<p>
  <b>Balance date:</b>
  <%= @company.balance_date %>
</p>

<p>
  <b>Pay date:</b>
  <%= @company.pay_date %>
</p>


<%= link_to 'Edit', edit_admin_company_path(@company) %> |
<%= link_to 'Back', admin_companies_path %>
