  <tr id='<%= dom_id balance %>'>
    <td><%= balance.balance_date %></td>
    <td><%= balance.channel_number %></td>
    <td><%= balance.count %></td>
    <td><%= balance.product_id %></td>
    <td><%= balance.client_id %></td>
    <td><%= balance.company_id %></td>
    <td><%= balance.agreement_id %></td>
    <td><%= balance.price %></td>
    <td><%= balance.amount %></td>
    <td><%= balance.product_price %></td>
    <td><%= balance.product_amount %></td>
    <td><%= balance.remark %></td>
    <td><%= balance.status %></td>
    <td><%= l balance.updated_at, :format => :long %></td>
  </tr>