<h2> 结算数据列表 </h2>
<div class="search-box">
  <%= form_for [:admin, @search] do |f| %>
  渠道号: <%= f.text_field :channel_number_contains %>
  <%= f.submit %>
  <% end %>
</div>
<table class='data-list'>
  <thead>
  <tr>
    <th>数据结算日期</th>
    <th>渠道号</th>
    <th>数量</th>
    <th>产品</th>
    <th>客户</th>
    <th>公司</th>
    <th>协议</th>
    <th>单价</th>
    <th>总价</th>
    <th>产品价</th>
    <th>收入</th>
    <th>备注</th>
    <th>状态</th>
    <th>更改时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @collection.each do |balance| %>
   <%= render :partial =>'row', :locals => {:balance => balance} %>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />


