<div class='toolbar'>
  <ul class='actions'>
    <li>
      <a href="#" class="button" onclick="$('#dialog').dialog('open');">
	      <span><img alt="Add" src="/images/admin/icons/add.png">导入数据</span>
	  </a>
    </li>
    <li>
      <%= link_to_with_icon :add, '检查数据', 'imports/check_data' %>
    </li>
    <li>
      <%= link_to_with_icon :add, '发布数据', 'imports/save_data' %>
    </li>
    <li>
      <%= link_to_with_icon :add, '清空', 'imports/clear_data' %>
    </li>
  </ul>
</div>

<div id="import_data">

<table id="table" spadding="0">
	<thead>
	<tr id="trhead">
    <th>结算日期</th>
    <th>渠道号</th>
    <th>对帐数量</th>
    <th>数量</th>
    <th>产品</th>
    <th>客户</th>
    <th>公司</th>
    <th>协议</th>
    <th>单价</th>
    <th>总价</th>
    <th>产品价</th>
    <th>收入</th>
    <th>备注</th>
    <th>状态</th>
    <th>更改时间</th>
	</tr>
	</thead>
	<tbody>
	<% @balances.each do |b| %>
   <%= render :partial =>'admin/balances/row', :locals => {:balance => b} %>
	<% end %>
	</tbody>
</table>
</div>
<div id="dialog" title="导入数据" class='dialog-window'>
	<p>
		<span class="ui-icon ui-icon-circle-check" style="float:left;margin:0 7px 50px 0;"></span>
		请把excel表格数据拷贝粘贴到下面文本框中。
	</p>
	<%= form_tag 'imports' do %>
	<p>
		<%= text_area_tag 'import_text', nil, :cols => 60 %>
  </p>
    <%= submit_tag '导入数据' %>
  <% end %>
</div>
