<div class='container'>
  <div class='span-8'>
<%= form_for([:admin, @object], :remote => true) do |f| %>
  <div class="field">
    <%= f.label '真实姓名' %><br />
    <%= f.text_field :real_name %>
  </div>
  <div class="field">
    <%= f.label '联系电话' %><br />
    <%= f.text_field :phone %>
  </div>
   <div class="field">
    <%= f.label '网站' %><br />
    <%= f.text_field :website %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit '保存' %>
  </div>
<% end %>
  </div>
  <div class='span-8 last'>
<%
unless @object.user
  @object.build_user
  @object.user.login_name = 'AU' + @object.id.to_s 
  @object.save
end
u = @object.user %>
<fieldset>
  <legend>用户登录信息</legend>
  <p>登录名: <%= u.login_name %></p>
  <p>Email: <%= u.email %></p>
  <p>(修改用户登录密码)</p>
<%= link_to '修改用户登录信息', edit_admin_user_path(u), :remote => true %>

</fieldset>
  </div>
</div>
