  <tr id='row_<%= obj.id %>'>
    <td><%= obj.company_id %></td>
    <td><%= obj.client_id %></td>
    <td><%= obj.product_id %></td>
    <td><%= obj.agreement_start %></td>
    <td><%= obj.agreement_end %></td>
    <td><%= obj.agreement_sign %></td>
    <td><%= obj.price %></td>
    <td><%= obj.status %></td>
    <td><%= l obj.updated_at, :format => :long %></td>
    <td><%= link_to '编辑', edit_admin_agreement_path(obj), :remote => true %> |
    <%= link_to '删除', admin_agreement_path(obj), :confirm => '确定删除?', :method => :delete, :remote => true %></td>
  </tr>
