<h2>阅读周数据对照表</h2>

 <%= form_tag do |f| %> 
  日期: <%= text_field_tag 'date', :balance_date_equals, :class => 'datepicker', :size => 8 %>到
   <%= text_field_tag 'date1', :balance_date_equals, :class => 'datepicker', :size => 8 %>
  <%= submit_tag 'Search' %>
  <% end %>

<div style="width:40%;float:left;">
		<table class='data-list' style='width:auto;align:center'>
	  <thead>
	    <tr>
	    	 <th>日期</th>
	      <th>公司</th>
	      <th>产品</th>
	      <th>激活数</th>
	      <th>单价</th>
	      <th>移动结算款</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% sum_count = 0 %>
	  	<% sum_amount = 0 %>
	    <% @read_data_Contrast.each do |b| %>
	    <tr>
	      <td><%= b['ba_date'] %></td>
		 <td><%= Company.find(b['com']).title if b['com'] && Company.exists?(b['com']) %></td>
		 <td><%= Product.find(b['pro']).title if b['pro'] && Product.exists?(b['pro']) %></td>
	      <td><%= b['count'] %></td>
	      <td><%= b['price'] %></td>
	      <td><%= b['amount'] %></td>
	      <% sum_count = sum_count + b['count'] if b['count'] %>
	      <% sum_amount = sum_amount + b['amount'] if b['amount'] %>
	    </tr>
	    <% end %>
	    <tr>
           <td>汇总</td>
           <td></td>
           <td></td>
           <td><%= sum_count %></td>
           <td></td>
           <td><%= sum_amount %></td>
	    </tr>
	  </tbody>
</table>
</div>