<% content_for :head do %>
<%= javascript_include_tag "jquery.visualize/js/visualize.jQuery" %>
<%= stylesheet_link_tag "jquery.visualize/css/visualize",
				"jquery.visualize/css/visualize-dark", :media => 'screen, projection' %>
<script type='text/javascript'>
$(function(){
 $('table.data-list').visualize({type: 'pie', height: '300px', width: '420px'});
	$('table.data-list').visualize({type: 'bar', width: '420px'});
	$('table.data-list').visualize({type: 'area', width: '420px'});
	$('table.data-list').visualize({type: 'line', width: '420px'});
});
</script>
<% end %>
<table class='data-list' style='width:auto;'>
	  <thead>
	    <tr>
	      <th>结算月份</th>
	      <th width="80">结算数量</th>
	      <th width="80">结算数量</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @sum_by_month.each do |b| %>
	    <tr>
	      <td><%= b['b_date'] %></td>
	      <td class='align-right'><%= number_with_delimiter b['count'] %></td>
	      <td class='align-right'><%= number_with_precision(b['product_amount'], :precision => 2, :separator => '.', :delimiter => ',')  %></td>
	    </tr>
	    <% end %>
	  </tbody>
</table>