<h2>雅卓科技WAP阅读统计报表</h2>

 <%= form_tag do |f| %> 
  日期: <%= text_field_tag 'date', :balance_date_equals, :class => 'datepicker', :size => 8 %>
  到<%= text_field_tag 'date1', :balance_date_equals, :class => 'datepicker', :size => 8 %>
  <%= submit_tag 'Search' %>
  <% end %>

<div style="width:85%;float:left;">
<table class='data-list' style='width:90%;'>
  <thead>
    <tr>
      <th>日期</th>
      <th>产品名称</th>
      <th>产品ID</th>
      <th>单价（元）</th>
      <th>下载激活数据</th>
      <th>每日合计</th>
    </tr>
  </thead>
  <% @sumcount = 0 %>
   <% @sumamount = 0 %>
  <tbody>
    <% @wap_read.each do |b| %>
    <tr>
      <td><%= b['balance_date'] %></td>
      <td><%= Product.find(b['pro']).title if b['pro'] %></td>
      <td><%= Product.find(b['pro']).channel_number if b['pro'] %></td>
      <td><%= b['price'] %></td>
      <td><%= b['count'] %></td>
      <td><%= b['amount'] %></td>
      <% @sumcount = @sumcount + b['count'] if b['count'] %>
      <% @sumamount = @sumamount + b['amount'] if b['amount'] %>
    </tr>
    <% end %>

	  <tr style ="color:red;">
	      <td colspan=4> 合计</td>
	     
	     <td><%= @sumcount %></td>
	      <td><%= @sumamount %></td>
	    </tr>
      
  </tbody>
</table>
</div>

