<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>

    <% Channel.find_all_by_product_id(params[:id]).each do |ch|%>
    <input type="checkbox" checked="checked" name="channels[<%= ch.id %>]" /> <%= ch.channel_number %> <br />   
    <% end %>
    
    <% Channel.where('product_id is null or product_id=0').each do |ch| %>
    <input type="checkbox" name="channels[<%= ch.id %>]" /> <%= ch.channel_number %> <br />
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
