<%= form_for([:admin, @object], :remote => true) do |f| %>
  <div class="field">
    <%= f.label '产品名称' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '产品说明' %><br />
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <%= f.label '渠道号' %><br />
    <%= f.text_field :channel_number %>
  </div>
   <div class="field">
    <%= f.label '产品价格' %><br />
    <%= f.text_field :price %>
  </div>
    <div class="field">
    <%= f.label '有效状态' %>: 
   <%= f.radio_button :status, '0' %>
   <%= f.label 'status_0', '关闭' %>
   <%= f.radio_button :status, '1' %>
   <%= f.label 'status_1', '有效' %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
