<% content_for :breadcrumbs do %>
  <ul>
    <li><a href="/admin">Home</a></li>
    <li>&raquo;</li>
    <li>数据维护</li>
    <li>&raquo;</li>
    <li>产品渠道</li>
    <li>&raquo;</li>
    <li>产品列表</li>
  </ul>
<% end %>

<h2>产品列表</h2>
<div class='toolbar'>
  <ul class='actions'>
  <li>
      <%= form_for [:admin, @search] do |f| %>
      登录名: <%= f.text_field :title_contains %>
      <%= f.submit '查找' %>
      <% end %>
    </li>

    <li><%= link_to_with_icon 'add', '新建产品', new_admin_product_path, :remote => true %></li>
  </ul>
</div>
<%= will_paginate(@collection) %>

<table class='data-list'>
  <thead>
  <tr>
    <th>渠道号</th>
    <th>产品名称</th>
    <th>描述</th>
    <th>产品价</th>
    <th>状态</th>
    <th>更改时间</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @collection.each do |product| %>
   <%= render :partial =>'row', :locals => {:obj => product} %>
  <% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />




