<%= form_for([:admin, @object], :remote => true) do |f| %>
  <table>
    <tr>
      <td>渠道号</td>
      <td><%= f.text_field :channel_number %></td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%= f.text_field :remark %></td>
    </tr>
    <tr>
      <td>有效状态</td>
      <td>
           <%= f.radio_button :status, '0' %>
           <%= f.label 'status_0', '关闭' %>
           <%= f.radio_button :status, '1' %>
           <%= f.label 'status_1', '有效' %>
      </td>
    </tr>
    <tr>
      <td>所属客户</td>
      <td><%= link_to @object.client.name, edit_admin_client_path(@object.client), :remote => true if @object.client %></td>
    </tr>
    <tr>
      <td>产品名称</td>
      <td><%= @object.product.title if @object.product %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
