<h2><%= t(:channels) %></h2>

<table class='data-list'>
  <thead>
  <tr>
    <th><%= t('.channel_number') %></th>
    <th><%= t('.client') %></th>
    <th><%= t('.product') %></th>
    <th><%= t(:remark) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:updated_at) %></th>
    <th><%= t(:operates) %></th>
  </tr>
  </thead>
  <tbody>
  <% @collection.each do |channel| %>
   <%= render :partial =>'row', :locals => {:obj => channel} %>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to 'New Channel', new_admin_channel_path, :remote => true %>


