<%= form_for([:admin, @object], :remote => true) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='container'>
  <div class='span-8'>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </div>

  <div class="field">
    <%= f.label :balance %><br />
    <%= @object.balance %>
  </div>
  <div class="field">
    <%= f.label :last_login %><br />
    <%= @object.last_login %>
  </div>

   <div class="field">
    <%= f.label :balance_date %><br />
    <%= @object.balance_date %>
  </div>
   <div class="field">
    <%= f.label :last_pay_date %><br />
    <%= @object.last_pay_date %>
  </div>
  </div>

  <div class='span-8'>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
