<%= form_for([:admin, @object], :remote => true) do |f| %>
<div class='container'>
  <div class="field">
    <%= f.label '登录名' %><br />
    <%= f.text_field :login_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
   <div class="field">
    <%= f.label '登录密码' %><br />
    <%= f.text_field :password %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
</div>  
<% end %>