<tr id='<%= dom_id obj %>'>
    <td><%= obj.id %></td>
    <td><%= obj.login_name %></td> 
    <td><%= obj.email %></td>
    <td><%= obj.client_id %></td> 
    <td><%= obj.sign_in_count %></td>
    <td><%= obj.current_sign_in_at %></td> 
    <td><%= obj.last_sign_in_at %></td>
    <td><%= obj.current_sign_in_ip %></td> 
    <td><%= obj.last_sign_in_ip %></td> 
    <td><%= link_to '编辑', edit_admin_user_path(obj), :remote => true %> | <%= link_to '删除', admin_user_path(obj), :confirm => '确定删除？', :method => :delete, :remote => true %></td> 
 </tr>