<!DOCTYPE html>
<html>
<head>
  <title>KBS管理后台</title>
 
  <%= stylesheet_link_tag "blueprint/screen.css", :media => 'screen, projection' %>
  <%= stylesheet_link_tag "blueprint/print.css", :media => 'print' %>
<!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie.css", :media => media="screen, projection" %><![endif]-->
  <%= stylesheet_link_tag    "admin/all", :media => "all" %>
  <%= javascript_include_tag "admin/all" %>
  <%= csrf_meta_tags %>

  <%= yield :head%>
  
  
</head>
<body id='htmlbody'>
	<div class='logout-box'>
<% if emp_signed_in? %>
  <%= current_emp.login_name %> | 
  <%= link_to('Logout', destroy_emp_session_path, :method => :delete) %>        
<% else %>
  <%= link_to('Login', new_emp_session_path)  %>  
<% end %>		
	</div>
	<div id='page_header'>
		<%= render :partial => 'admin/shared/main_menu' %>
	</div>
	<div id='page_body'>
    <div id='page_breadcrumbs'>
      <%= yield :breadcrumbs %>
    </div>
		<div class='page_container'>
    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <% if notice %>
      <div class="flash notice"><%= notice %></div>
    <% end %>
    <% if alert %>
    	<div class="alert"><%= alert %></div>
    <% end %>

		<%= yield %>
		</div>

	</div>
	<div id='page_footer'>
	</div>
</body>
</html>
