<!DOCTYPE html>
<html>
<head>
  <title>admin-</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head%>
</head>
<body id='htmlbody'>
	<div id='page_header'>
		<ul id='page_nav'  class="main_menu">
			<li><a href='/admin'>home</a></li>
			<li><%= link_to :companies, :admin_companies %></li>
			<li><%= link_to :channels, :admin_channels %></li>
			<li><%= link_to :balances, :admin_balances %></li>
			<li><%= link_to :products, :admin_products %></li>
		</ul>
		<br/>
	</div>
	<div id='page_body'>
		<div>
			<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>	
		</div>	

		<%= yield %>
	</div>
	<div id='page_footer'>
	</div>
</body>
</html>
