<!DOCTYPE html>
<html>
<head>
  <title>admin-</title>
 
  <%= stylesheet_link_tag "blueprint/screen.css", :media => 'screen, projection' %>
  <%= stylesheet_link_tag "blueprint/print.css", :media => 'print' %>
<!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie.css", :media => media="screen, projection" %><![endif]-->
  <%= stylesheet_link_tag    "admin/all", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head%>
  
  
</head>
<body id='htmlbody'>
	<div class='logout-box'>
<% if emp_signed_in? %>
  <%= current_emp.login_name %> | 
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>		
	</div>
	<div id='page_header'>
		<ul id='page_nav'  class="main_menu">
			<li><%= link_to t(:home), '/admin' %></li>
			<li><%= link_to t(:balances), :admin_balances %></li>
			<li><%= link_to t(:imports), :admin_imports %></li>
			<li><%= link_to t(:channels), :admin_channels %></li>
			<li><%= link_to t(:clients), :admin_clients %></li>
			<li><%= link_to t(:user_infos), :admin_user_infos %></li>
			<li><%= link_to t(:products), :admin_products %></li>
			<li><%= link_to t(:companies), :admin_companies %></li>
			<li><%= link_to t(:agreements), :admin_agreements %></li>
			<li><%= link_to t(:emps), :admin_emps %></li>
			<li><%= link_to t(:æ•°æ®ç»Ÿè®¡), :admin_sjflot %></li>
		</ul>

	</div>
	<div id='page_body'>
		<div class='page_container'>
    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <% if notice %>
      <div class="flash notice"><%= notice %></div>
    <% end %>
    <% if alert %>
    	<div class="alert"><%= alert %></div>
    <% end %>

		<%= yield %>
		</div>

	</div>
	<div id='page_footer'>
	</div>
</body>
</html>
